
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /manager/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /manager/index.php [L]
</IfModule>

# END WordPress

# BEGIN WordPress Error Pages

ErrorDocument 401 http://localhost/manager/error-401
ErrorDocument 403 http://localhost/manager/error-403
ErrorDocument 404 http://localhost/manager/error-404
ErrorDocument 500 http://localhost/manager/error-500

# END WordPress Error Pages
